
.logo{
  padding-left: 90px;
  display: inline;
  position: relative;
  top: 40px;
}

.cabecalho{
  display: flex;
  padding-left: 650px;
  position: relative;
  
}

.link:hover{
  transform: scale(1.2);
}

.link{
  padding-left: 30px;
  color: #fff;
  text-decoration:none;
  font-family: 'Open Sans', sans-serif;
  transition: all 0.2s ease-in-out;
}

.titulo{
  padding-left: 80px;
  text-align: left;
  color: #fff;
  padding-top: 50px;
  width: 300px;
}


.texto
{
  padding-left: 80px;
  text-align: left;
  color: #fff;
  padding-top: 50px;
  width: 300px;

}

.card{
  float: right ;
  bottom: 350px;
  right: 170px;
  position:relative;
  padding: 15px;
  padding-bottom: 35px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(93px);
}

.card_text{
color: #FFFFFF;
font-size: 18px;
text-align: center;

}



.button{
  position:relative;
  left: 80px;
  top: 30px;
  background: #4AB45E;
  border-radius: 4px;
  width: 172px;
  height: 60px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
    border: none;
    cursor: pointer;
}

.button:active {
  transform: scale(0.9);
}

.button_carousel{
  position:relative;
  top:80px;
  background-color: #ddd;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
}

.button_carousel:hover {
  background-color: #ccc;
}

.button_carousel:active {
  transform: scale(0.9);
}