
.logo{
  padding-left: 90px;
  display: inline;
  position: relative;
  top: 40px;
}

.cabecalho{
  display: flex;
  padding-left: 650px;
  position: relative;
  
}

.link:hover{
  transform: scale(1.2);
}

.link{
  padding-left: 30px;
  color: #fff;
  text-decoration:none;
  font-family: 'Open Sans', sans-serif;
  transition: all 0.2s ease-in-out;
}

.titulo{
  padding-left: 80px;
  text-align: left;
  color: #fff;
  padding-top: 50px;
  width: 300px;
}


.texto
{
  padding-left: 80px;
  text-align: left;
  color: #fff;
  padding-top: 50px;
  width: 300px;

}

.card{
  float: right ;
  bottom: 350px;
  right: 170px;
  position:relative;
  padding: 15px;
  padding-bottom: 35px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(93px);
}

.card_text{
color: #FFFFFF;
font-size: 18px;
text-align: center;

}


.fundo{
  position: relative;
  bottom: 167px;
  color: #fff;
}

.secao2{
  background-color: #fff;
}

.secao3{
  background-color: #fff;
}


.button{
  position:relative;
  left: 80px;
  top: 30px;
  background: #4AB45E;
  border-radius: 4px;
  width: 172px;
  height: 60px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
    border: none;
    cursor: pointer;
}

.button:active {
  transform: scale(0.9);
}

.button_carousel{
  position:relative;
  top:80px;
  background-color: #ddd;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
}

.button_carousel:hover {
  background-color: #ccc;
}

.button_carousel:active {
  transform: scale(0.9);
}


.App-header{
  padding-bottom: 240px;
}

.text_secao2{
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
width: 613px;
height: 450px;
position: relative;
left: 20px;
bottom: 300px;

text-align: justify;
text-transform: capitalize;

color: rgba(0, 0, 0, 0.5);
}

.titulo_secao2{
  position: relative;
left: 10px;
bottom: 300px;
  font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 46px;
line-height: 56px;
/* identical to box height */

text-align: center;
text-transform: capitalize;
width: 278px;
}

.secao2_about_us{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
position: relative;
bottom: 300px;
text-align: center;
width: 83px;
height: 27px;
left: 20px;
color: #4AB45E;
}

.about_us{
  bottom: 500px;
  left: 580px;
  position:relative;
}



.title1_secao3{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  width: 98px;
  height: 27px;
  text-align: center;
  position: relative;
  left: 600px;
  color: #4AB45E;
  bottom: 370px;
}

.title2_secao3{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 56px;
  width: 772px;
  height: 56px;
  text-align: center;
  text-transform: capitalize;
  position: relative;
  left: 300px;
  bottom: 370px;
}

.video{
  position:relative;
  bottom: 320px;
  left: 400px;
}